/*Ass3 
 #title {
    display: flex;
    align-items: center;
    justify-content: center;

}

#title img {
    width: 30px;
    height: 30px;
}
#search {
    display: flex;
    justify-content: center;
} */

/* Ass 4 */
/* 
.header {
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 80px;
    height: 80px;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    
    padding: 10px;
    list-style: none;
    font-size: 19px;
    justify-content: center ;
}

.res-card {
    width: 120px;
    padding: 5px;
    background-color: aliceblue;
    margin: 10px;
}

.res-card:hover {
    border: 2px solid black;
    cursor: pointer;
}
.food {
    width: 120px;
    height: 100px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
} */

/* Swig */

#navbar {
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.logo {
  display: flex;
  align-items: center;
}

img {
  width: 50px;
  height: 50px;
}

.links {
  padding: 0px 10px;
}

.links a {
  margin: 10px;
}

#resCard {
  display: flex;
  flex-wrap: wrap;
}

#card {
  margin: 5px;
  background-color: rgb(236, 231, 231);
  padding: 10px;
  width: 200px;
}

#card img {
  width: 100px;
  height: 100px;
}

#card:hover {
  border: 3px solid black;
  cursor: pointer;
}
